doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    title PageSpeed InSlides
  body
    h1 #{t('appTitle')}
    form(method=get)
      input#url(name=url, type=url)


